{{ if eq .chezmoi.os "darwin" -}}

[credential]
    helper = osxkeychain

{{ end -}}

[user]
    name = {{ .name }}
    email = {{ .email }}

[core]
    excludesFile = ~/.config/git/ignore

[pull]
	ff = only

[init]
    defaultBranch = main

[credential]
	helper = cache

[url "git@github.com:"]
	insteadOf = https://github.com/

[url "git@gitlab.dev.cj.com"]
  insteadOf = git@gitlab.cj.dev
