window:
  padding:
      x: 4
      y: 4
  opacity: {{ .terminal_opacity }}

cursor: 
  style: Block

    #draw_bold_text_with_bright_colors: true

font:
#  normal:
#    family: "JetBrainsMono Nerd Font Mono"
  size: {{ .terminal_font_size }}

